<div class="block-header">
    <h2>NGX CHARTS</h2>
</div>
<div class="row clearfix">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
                <div class="coming-soon" style="background: #212121;padding: 1px 20px 10px;color: #ffffff;">
                    <h2 style="border: 1px solid #9E9E9E;padding: 60px 20px;text-align: center;text-transform: uppercase;font-size: 4em;">Coming Soon</h2>
                </div>
            </div>
        </div>
    </div>
</div>