/* You can add global styles to this file, and also import other style files */

.landing-bg {
    background-color: #ffffff !important;
}

.notification-box {
    display: block;
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 1000;
}

.profile-avatar {
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    width: 140px;
    height: 140px;
    object-fit: cover;
    background: #ffffff;
    margin-top: -95px;
    position: relative;
}